.overview-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    border-bottom: 2px solid red;
    margin-left: 40px;
    margin-right: 40px;
}

.btn-resume{
   color: white;
   font-weight: 500;
   background-color:rgb(139 92 246);
   padding: 10px 8px 8px 10px;
   border-radius: 10px;
}
