.projects{
    margin-right: 40px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: whitesmoke;
    grid-gap: 20px;
}
.project{
   position: relative;
   /* background-color: azure; */
   border: 2px solid red;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
}
.box{
    border-radius: 5px;
    width: 350px;
    height: 250px;
    background-position: top;
    transition: ease-in-out 5s;
}

.box1{
    background: url('https://i.ibb.co.com/BGPKTY3/sparkle-full.jpg') ;
    background-size: cover;
}
.box2{
    background: url('https://i.ibb.co.com/NrGRCwx/panda-dish-full-site-webp.jpg') ;
    background-size: cover;
}
.box3{
    background: url('https://i.ibb.co.com/ZTd8kTH/job-assistant-web.png') ;
    background-size: cover;
}
.box4{
    background: url('https://i.ibb.co.com/5K4Dqy3/web-developers.png') ;
    background-size: cover;
}

.box:hover{
    background-position: bottom;
}

/* now start buttons positioning and style */
.buttons{
 display: flex;
 justify-content: space-between; 
 position: absolute;
 bottom: 0;
 margin-bottom: 20px;
}
.buttons .btn a{
    text-align:center ;
}
.technologies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 0;
    margin-bottom: 60px;
}
.technologies  span{
    text-align: center;
    font-weight: 500;
    background-color: rgb(26, 118, 231);
    border-radius: 5px;
    padding: 2px 5px;
}